[Unit]
Description=Process manager service

[Service]
User=<user>
WorkingDirectory=/home/<user>/.conc
ExecStart=/usr/local/bin/conc
# optional items below
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target